@import 'bootstrap.min.css';
@import 'layout';

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Source Code Pro', Arial;
}

.red {
  background-color: red;
}

.logo img {
  margin-top: 100px;
  max-width: 100%;
}

.border {
  border: 1px solid #666;
}

#logo {
  width: 50%;
}
